body{
color: white;
font-family: roboto;
text-align: center;
font-size: 25px;
margin:0;
}

.imgpp{
  height: 250px;
  padding-top: 25px;
}
.header{
  background-color: #384137;
  height: 445px;

}

.menu{
  position: fixed;
  background-color: white;
  height: 60px;
  width: 100%;
}
.about{
  background-color: #406661;
  height: 250px;
}

.portfolio{
  background-color: #3bb873;
  padding-bottom: 25px;
}
.portfolio img{
height: 250px;
}

p{
  margin: 0;
}
h2{

  margin:0;
}
footer{
  background-color: #94ed88;
  padding-top: 6px;
}
